body{
    background: whitesmoke;
}

.fileForms{
    padding-top: 2em;
    padding: 1em;
}

.importCbl{
    background: rgb(232, 241, 231);
}
.importSave{
    background: rgb(228, 225, 225);
}
.download{
    background: rgb(236, 230, 230);
}
.results{
    background: rgb(217, 224, 224);
}

.importButton{
    margin-top: 5px;
}

.download{
    display: flex;
    align-items: center;
    justify-content: center;
}

.resultsList{
    list-style-type: none;
}

.resultsList li{
    border-top: 1px grey solid;
}